In [1]:
pip install scikeras[tensorflow]

Requirement already satisfied: scikeras[tensorflow] in c:\users\windows\anaconda3\lib\site-packages (0.13.0)
Requirement already satisfied: keras>=3.2.0 in c:\users\windows\anaconda3\lib\site-packages (from scikeras[tensorflow]) (3.6.0)
Requirement already satisfied: scikit-learn>=1.4.2 in c:\users\windows\anaconda3\lib\site-packages (from scikeras[tensorflow]) (1.4.2)
Requirement already satisfied: tensorflow>=2.16.1 in c:\users\windows\anaconda3\lib\site-packages (from scikeras[tensorflow]) (2.18.0)
Requirement already satisfied: absl-py in c:\users\windows\anaconda3\lib\site-packages (from keras>=3.2.0->scikeras[tensorflow]) (2.1.0)
Requirement already satisfied: numpy in c:\users\windows\anaconda3\lib\site-packages (from keras>=3.2.0->scikeras[tensorflow]) (1.26.4)
Requirement already satisfied: rich in c:\users\windows\anaconda3\lib\site-packages (from keras>=3.2.0->scikeras[tensorflow]) (13.3.5)
Requirement already satisfied: namex in c:\users\windows\anaconda3\lib\site-packages (from keras>=3.2.0->scikeras[tensorflow]) (0.0.8)
Requirement already satisfied: h5py in c:\users\windows\anaconda3\lib\site-packages (from keras>=3.2.0->scikeras[tensorflow]) (3.11.0)
Requirement already satisfied: optree in c:\users\windows\anaconda3\lib\site-packages (from keras>=3.2.0->scikeras[tensorflow]) (0.13.0)
Requirement already satisfied: ml-dtypes in c:\users\windows\anaconda3\lib\site-packages (from keras>=3.2.0->scikeras[tensorflow]) (0.4.1)
Requirement already satisfied: packaging in c:\users\windows\anaconda3\lib\site-packages (from keras>=3.2.0->scikeras[tensorflow]) (23.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\windows\anaconda3\lib\site-packages (from scikit-learn>=1.4.2->scikeras[tensorflow]) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\windows\anaconda3\lib\site-packages (from scikit-learn>=1.4.2->scikeras[tensorflow]) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\windows\anaconda3\lib\site-packages (from scikit-learn>=1.4.2->scikeras[tensorflow]) (2.2.0)
Requirement already satisfied: tensorflow-intel==2.18.0 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow>=2.16.1->scikeras[tensorflow]) (2.18.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (3.4.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (5.26.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (2.32.2)
Requirement already satisfied: setuptools in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (69.5.1)
Requirement already satisfied: six>=1.12.0 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (4.11.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (1.67.1)
Requirement already satisfied: tensorboard<2.19,>=2.18 in c:\users\windows\anaconda3\lib\site-packages (from tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (2.18.0)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\windows\anaconda3\lib\site-packages (from rich->keras>=3.2.0->scikeras[tensorflow]) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\windows\anaconda3\lib\site-packages (from rich->keras>=3.2.0->scikeras[tensorflow]) (2.15.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\windows\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (0.43.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\windows\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich->keras>=3.2.0->scikeras[tensorflow]) (0.1.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\windows\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\windows\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\windows\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\windows\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (2024.8.30)
Requirement already satisfied: markdown>=2.6.8 in c:\users\windows\anaconda3\lib\site-packages (from tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\windows\anaconda3\lib\site-packages (from tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\windows\anaconda3\lib\site-packages (from tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\windows\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow-intel==2.18.0->tensorflow>=2.16.1->scikeras[tensorflow]) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE
from sklearn.metrics import classification_report
from sklearn.model_selection import RandomizedSearchCV
#from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from scikeras.wrappers import KerasClassifier, KerasRegressor

In [7]:
bank = pd.read_csv("bank.csv",sep=";")
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [9]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [11]:
missing_values = bank.isnull().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [13]:
bank.shape

(4521, 17)

In [15]:
missing_values = bank.isna().sum()
print(missing_values)

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [17]:
bk=bank.select_dtypes(include="object")
for x in bk.columns:
    print(x+"   ",bk[x].unique())

job    ['unemployed' 'services' 'management' 'blue-collar' 'self-employed'
 'technician' 'entrepreneur' 'admin.' 'student' 'housemaid' 'retired'
 'unknown']
marital    ['married' 'single' 'divorced']
education    ['primary' 'secondary' 'tertiary' 'unknown']
default    ['no' 'yes']
housing    ['no' 'yes']
loan    ['no' 'yes']
contact    ['cellular' 'unknown' 'telephone']
month    ['oct' 'may' 'apr' 'jun' 'feb' 'aug' 'jan' 'jul' 'nov' 'sep' 'mar' 'dec']
poutcome    ['unknown' 'failure' 'other' 'success']
y    ['no' 'yes']

# Map Cagegorical to numerical

In [21]:
job_map = {'unemployed':0, 'services':1, 'management':2, 'blue-collar':3, 'self-employed':4,
 'technician':5, 'entrepreneur':6, 'admin.':7, 'student':8, 'housemaid':9, 'retired':10,
 'unknown':11}

In [23]:
marital_map= {'married':0, 'single':1, 'divorced':2}

In [25]:
education_map = {'primary':0, 'secondary':1, 'tertiary':2, 'unknown':3}

In [27]:
default_map = {'no':0,'yes':1}

In [ ]:
housing_map = {'no':0,'yes':1}

In [29]:
loan_map = {'no':0,'yes':1}

In [31]:
contact_map = {'cellular':0, 'unknown':1, 'telephone':2}

In [33]:
month_map = {'jan':0, 'feb':1, 'mar':2, 'apr':3, 'may':4,  'jun':5, 'jul':6, 'aug':7, 'sep':8,  'oct':9, 'nov':10, 'dec':11}

In [35]:
poutcome_map= {'unknown':0, 'failure':1, 'other':2, 'success':3}